.setAttribute {
    width:300px;
    margin: 0px auto
}

/*.gen-form {
    width:100px;
    margin: 10px 0px;
    padding: 10px;
    background:#0fb641;color:#0e0658;
    border:solid 1px #000;
}*/


.gen-form{
    background-color: var(--dark-color);
    color: white;
    font-family:'Montserrat';
    padding: 0.75em 1.5em;
    border-radius: 20px;
    width: fit-content;
    border: 1px solid var(--dark-color);
    transition: all;
    transition-duration: 300ms;
}

.form-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
}
.form-title{
    font-size: 3rem;
    text-align: center;
    max-width: 400px;

}

.gen-form:hover{
    cursor:pointer;
    background: var(--primary-color);
    color: var(--dark-color);
    border: 1px solid var(--dark-color);
    scale: 1.025;
    
}