:root{
    --primary-color: #fff6e7;
    --dark-color: #170102;

}

main{
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

.text-serif{
    font-family: 'DM Serif Display', serif;
}

